# Expresiones de tabla común

Usando la base de datos Northwind
## 1. Escribe una CTE que liste los nombres y cantidades de los productos con un precio unitario mayor a $50.

```sql
USE Northwind;

WITH cte_mayor50 AS (
    SELECT *
    FROM products as p
    where p.price>50
)
SELECT ProductName, Unit
FROM cte_mayor50;

```

#### Expected results

|ProductName                     |Unit|
|--------------------------------|----|
|Mishi Kobe Niku                 |18 - 500 g pkgs.|
|Carnarvon Tigers                |16 kg pkg.|
|Sir Rodney's Marmalade          |30 gift boxes|
|Thüringer Rostbratwurst         |50 bags x 30 sausgs.|
|Côte de Blaye                   |12 - 75 cl bottles|
|Manjimup Dried Apples           |50 - 300 g pkgs.|
|Raclette Courdavault            |5 kg pkg.|

## 2. ¿Cuáles son los 5 productos más rentables?

```sql
WITH cte_rentable AS (
    SELECT  P.ProductID,
			P.ProductName,
			sum(o.quantity*p.price) as TotalRevenue
    FROM products as p
		JOIN orderdetails as o
		ON p.ProductID = o.ProductID
    GROUP BY P.ProductID,P.ProductName
ORDER BY TotalRevenue DESC
)
SELECT ProductID,ProductName,TotalRevenue
FROM cte_rentable
ORDER BY TotalRevenue DESC
LIMIT 6;
```

#### Expected results
Alice Mutton is 6th

|ProductID                       |ProductName|TotalRevenue|
|--------------------------------|-----------|------------|
|-                             |-|-       |
|-                           |-|-       |
|-                            |-|-       |
|-                             |-|-       |
|-                              |-|-       |
|17                              |Alice Mutton|12909       |

## 3. Escribe una CTE que liste las 5 categorías principales según el número de productos que tienen.

```sql
WITH cte_categoria AS (
   SELECT  c.CategoryName ,
		COUNT(DISTINCT p.ProductID) as ProductCount
    FROM categories as c
		JOIN products as p
		ON c.CategoryID = p.CategoryID
    GROUP BY c.CategoryName 
    ORDER BY ProductCount DESC
)
SELECT CategoryName,ProductCount
FROM cte_categoria
LIMIT 5;
```

#### Expected result
|CategoryName                    |ProductCount|
|--------------------------------|------------|
|Confections                     |13          |
|Beverages                       |12          |
|Condiments                      |12          |
|Seafood                         |12          |
|Dairy Products                  |10          |

## 4. Escribe una CTE que muestre la cantidad promedio de pedidos para cada categoría de producto.

```sql
WITH cte_promedio AS (
   SELECT  c.CategoryName ,
		avg(od.quantity) as AvgOrderQuantity
    FROM categories as c
		JOIN products as p
		ON c.CategoryID = p.CategoryID
        JOIN orderdetails as od
		ON p.ProductID = od.ProductID
    GROUP BY c.CategoryName 
    ORDER BY AvgOrderQuantity DESC
)
SELECT CategoryName, AvgORderQuantity
FROM cte_promedio;

```

|CategoryName                    |AvgOrderQuantity|
|--------------------------------|----------------|
|Beverages                       |24.6129         |
|Condiments                      |28.2245         |
|Confections                     |25.1190         |
|Dairy Products                  |26.0100         |
|Grains/Cereals                  |21.7143         |
|Meat/Poultry                    |25.7600         |
|Produce                         |21.6667         |
|Seafood                         |21.5672         |

# 5. Crea una CTE para calcular el importe medio de los pedidos para cada cliente.

```sql
WITH cte_promedio_pedido AS (
   SELECT  c.CustomerID,
		   c.CustomerName,
		   avg(od.quantity*p.Price) as AvgOrderAmount
    FROM customers as c
		JOIN orders as o
		ON c.CustomerID = o.CustomerID
        JOIN orderdetails as od
		ON o.OrderID = od.OrderID
        JOIN products as p
		ON p.ProductID = od.ProductID
    GROUP BY c.CustomerID, c.CustomerName
    ORDER BY AvgOrderAmount DESC
)
SELECT CustomerID, CustomerName, AvgOrderAmount
FROM cte_promedio_pedido;


```

|CustomerID                      |CustomerName|AvgOrderAmount|
|--------------------------------|------------|--------------|
|59                              |Piccolo und mehr|4014.2500     |
|73                              |Simons bistro|2444.3333     |
|62                              |Queen Cozinha|1991.6667     |
|51                              |Mère Paillarde|1673.8571     |
|71                              |Save-a-lot Markets|1407.2500     |
|76                              |Suprêmes délices|1345.8333     |
|81                              |Tradição Hipermercados|1315.6667     |
|7                               |Blondel père et fils|1174.4615     |
|89                              |White Clover Markets|1112.5000     |
|55                              |Old World Delicatessen|1079.5000     |
|20                              |Ernst Handel|1018.0000     |
|19                              |Eastern Connection|1004.8000     |
|68                              |Richter Supermarkt|976.6667      |
|72                              |Seven Seas Imports|934.0000      |
|63                              |QUICK-Stop  |908.5500      |
|25                              |Frankenversand|895.0667      |
|75                              |Split Rail Beer & Ale|854.7692      |
|65                              |Rattlesnake Canyon Grocery|838.2727      |
|52                              |Morgenstern Gesundkost|754.0000      |
|9                               |Bon app''   |750.4286      |
|37                              |Hungry Owl All-Night Grocers|733.5714      |
|35                              |HILARIÓN-Abastos|722.8333      |
|33                              |GROSELLA-Restaurante|690.0000      |
|34                              |Hanari Carnes|681.0000      |
|15                              |Comércio Mineiro|677.5000      |
|23                              |Folies gourmandes|672.3333      |
|10                              |Bottom-Dollar Marketse|664.0000      |
|31                              |Gourmet Lanchonetes|641.0000      |
|60                              |Princesa Isabel Vinhoss|628.5000      |
|5                               |Berglunds snabbköp|601.5556      |
|46                              |LILA-Supermercado|564.7692      |
|44                              |Lehmanns Marktstand|545.7500      |
|30                              |Godos Cocina Típica|515.0000      |
|3                               |Antonio Moreno Taquería|504.0000      |
|88                              |Wellington Importadora|503.8333      |
|47                              |LINO-Delicateses|500.0000      |
|56                              |Ottilies Käseladen|500.0000      |
|87                              |Wartian Herkku|492.5833      |
|24                              |Folk och fä HB|480.2222      |
|49                              |Magazzini Alimentari Riuniti|464.2857      |
|86                              |Die Wandernde Kuh|441.9091      |
|41                              |La maison d''Asie|437.8182      |
|8                               |Bólido Comidas preparadas|416.0000      |
|83                              |Vaffeljernet|411.0000      |
|14                              |Chop-suey Chinese|374.8333      |
|80                              |Tortuga Restaurante|357.4167      |

# 6. Análisis de Ventas con CTEs

Suponiendo que tenemos la base de datos Northwind que contiene tablas como Orders, OrderDetails y Products. Crea una CTE que calcule las ventas totales para cada producto en el año 1997.

```sql
WITH cte_ventas_1997 AS (
   SELECT  	P.ProductName,
			sum(od.quantity) as TotalSales
    FROM products as p
		JOIN orderdetails as od
		ON p.ProductID = od.ProductID
        JOIN orders as o
        ON od.OrderID = o.OrderID
	WHERE YEAR(o.OrderDate)=1997
    GROUP BY p.ProductName
ORDER BY TotalSales DESC
)
SELECT ProductName, TotalSales
FROM cte_ventas_1997;

 ```

#### Expected result

|ProductName                     |TotalSales|
|--------------------------------|----------|
|Gnocchi di nonna Alice          |173       |
|Tourtière                       |126       |
|Geitost                         |119       |
|Chang                           |115       |
|Raclette Courdavault            |115       |
|Sirop d'érable                  |106       |
|Vegie-spread                    |100       |
|Côte de Blaye                   |99        |
|Alice Mutton                    |97        |
|Steeleye Stout                  |95        |
|Sir Rodney's Scones             |92        |
|Pavlova                         |86        |
|Zaanse koeken                   |85        |
|Fløtemysost                     |75        |
|Tarte au sucre                  |75        |